@media (max-width:1240px){
    .comppic1{
        width: 150px;
    }
    .comppic2{
        width: 150px;
        margin-right: 50px;
        
    }
    .comppictures{
        display: flex;
        
        
    }
    .ourprojpic1{
        max-width: 350px;
        max-height: 255px;
    }
    .contactimg{
        max-width: 550px;
        max-height: 255px;
        margin-left: 25px;
    }
}
@media (max-width:1170px){
    .mainproj{
        max-width: px;
        width: 100%;
    }
}

@media (max-width:480px) {
    .navigation{
        display: none;
    }
    .burgerbar{
        display: block;
    }
    .ul-nav{
        flex-direction: column;
        align-items: center;
    }
    .ul-list{
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        
    }
    .active{
        display: block;
    }
}