*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    text-transform:capitalize;
}
/* header */
h1{
    background-image: url(../img/logo.png);
    width: 70px;
    height: 44px;
    color: #000;
    margin-top: 30px;
    margin-left: 136px;
}
.headerwraper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
header{
    display: flex;
}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-size: 20px;
}
.navigation{
    margin-right: 60px;
}
.mainlogo{
    
    width: 100px;
}
header a{
    color: #000;
}
header ul a,li{
    position: relative;
}
header a::before{
    content: "";
    width: 0;
    height: 1px;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 2s;
}
header li::before{
    content: "";
    width: 0;
    height: 1px;
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 1.5s;
}
ul a:hover:before{
    width: 100%;
}
ul li:hover:before{
    width: 100%;
}
/* main */
.mainproj{
    display: flex;
    margin-top: 34px;
    gap: 50px;
    justify-content: center;
    margin-bottom: 120px;
}
.mainprojtext{
    margin-top: 150px;
    padding-bottom: 90px;
}
.headline p{
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
}
.bold{
    font-weight: 700;
    font-family: 'TT Hoves';
}
.light{
    font-family: 'TT Hoves';
    font-weight: 300;
    color: #BDBDBD;
}
.headline{
    padding-bottom: 90px;
}
button{
    padding: 10px 12px;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.next{
    margin-left: 24px;
    position: relative;
}
.prevnext{
    padding-bottom: 50px;

}
.numeration{
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 4px;
}
.numeration p{
    font-size: 24px;
    color: #BDBDBD;
}
.cont{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #000000;
    padding: 20px 60px;
    position: absolute;
    border-top-right-radius: 6px;
    left: 0;
    bottom: 0;
}
.nurtownimg{
    
    max-width: 770px;
    height: 700px;
}
.mainprojimg{
    max-width: 760px;
    width: 100%;
    height: 630px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.compcontainer{
    display: flex;
    width: 80%;
    height: 450px;
    background-color: #FBFBFB;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 90px;
}
.comppictures{
    display: flex;
    width: 56%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 40px;
    padding-left: 100px;
}
.comppic1{
    height: 264px;
}
.comppic2{
    padding-top: 50px;
}
.comppic3{
    margin-top: -90px;
}
.comptext{
    width: 44%;
    position: relative;
}
.comptext h2{
    text-align: center;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 64px;
    padding-top: 20px;
}
.comptext p{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 25px;
}
/* ----------------------burgber------------------------ */

.burgerbar{
    display: none;
    
}









.comptext a{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #000000;
    padding: 20px 60px;
    position: absolute;
    border-top-right-radius: 6px;
    left: 10%;
    bottom: 10%;
}
.ourproj{
    width: 78%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    
}
.ourproj h2{
    text-align: left;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 64px;
    padding-top: 20px;
}
.ourprojpic{
    display: flex;
    flex-wrap:  wrap;
    margin-top: 10px;
    gap: 8px;
}
.ourproj a{
    background-color: #333333;
    opacity: 0.9;
    color: #ffffff;
    padding: 20px 60px;
    position: absolute;
    border-radius: 4px;
    right: 1%;
    bottom: 0;
}
.contactus{
    width: 78%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 220px;
}
.contact{
    display: flex;
}
.contactus h2{
    text-align: left;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 64px;
    padding-top: 20px;
}
.contactleft{
    width: 36%;
}
.contactleft input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #F3F3F3;
    border: 0;
    text-transform: none;
}
.contactleft ::placeholder{
    padding: 20px;
}
.contactus textarea{
    width: 100%;
    height: 163px;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: none;
    background-color: #F3F3F3;
    border: 0;
    text-transform: none;
    font-size: 18px;
}
.contactright{
    padding-left: 30px;
}
.contactus p{
    font-size: 18px;
    font-weight: 700;   
}
.contactus a{
    background-color: #333333;
    opacity: 0.9;
    color: #ffffff;
    padding: 20px 60px;
    position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: -100px;
}
/* footer  */
footer{
    width: 100%;
    background-color: #2C2C2C;
}
.topfooter{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
    justify-content: space-between;
    padding-bottom: 60px;
}
.footinformation, .footinformation a, .footcontact, .footsocial{
    color: #FFFFFF;
    font-weight: 700;
}
.topfooter h3{
    padding-bottom: 24px;
}
.footinformation li{
    padding-bottom: 16px;
}
.footcontact p{
    padding-bottom: 50px;
}
.footericons img{
    padding-right: 40px;
}
.footerline{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.1;
}
.footerbottom p{
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    columns: #C8C8C880;
    opacity: 0.5;
}
/* ------go up----------- */

  
  #scrollToTop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    box-shadow: 0 0 14px -5px rgba(0, 0, 0,0.5);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    font-family: "Arial";
    align-items: center;
    justify-content: center;
    margin-bottom: -12rem;
    transition: margin-bottom 0.2s;
     & .active {
      margin-bottom: 0;
    }
  }
  .submitbtn{
    color: #333333;
  }
  /* scroll */
  .scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }
  /* ----------acordion------ */

  .accordion {
    margin-left: 70px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 70%;
    border: none;
    text-align: center;
    font-size: 15px;
    transition: 0.4s;
    
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
 }
  /* ------slider-------- */ 
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
